.err-msg {
    color: #f50;
    padding-left: 10px;
    padding-top: 10px;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fix-header.am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content {
    padding: 50px 5px;
}

.am-card img {
    width: 2rem;
}

.am-card .title {
    padding: 10px 0
}

.am-result img {
    width: 100%;
    padding-top: -5px;
}

.primary {
    color: #108ee9
}

pre {
    font: inherit
}